{{ define "header_css" }}{{ end }}

{{ define "body_classes" }}page-blog-single{{ end }}


{{ define "main" }}


<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
<div class="blog">
  {{ if .Site.Params.showAuthorOnPosts }}
  {{ partial "author.html" . }}
  {{ end }}
  <div class="intro">
    <h1 style="">{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>

    {{ if .Params.image }}
    <div>
      <img style="max-width:75%; border-radius: 25px" src="{{ .Params.image | relURL }}" class="center" />

    </div>
    {{ end }}
  </div>

  {{if .Params.caption}}
  <em>
    <p style="text-align: center">{{.Params.caption}}</p>
  </em>
  {{end}}
  <div>
    {{partial "partials/share.html" .}}
  </div>

    <div class="content">
      {{ .Content }}
    </div>

    <hr/>

  <div class="center">
    <h2><em>Recommended</em></h2>

    
    <ul>
      <!-- {{ $related := first 5 (where .Site.Pages "Section" "posts")}} -->

      <ul>
        {{ $related := .Site.RegularPages.Related . | first 5 }}
          {{ with $related }}
          <ul>
            {{ range . }}
          
            <li>
              {{partial "small-summary.html" . }}
            </li>
            {{ end }}
          </ul>
          {{ end }}

          {{if lt (len $related) 1}}
              {{$posts := (where .Site.Pages "Section" "posts") | first 3 }}
              {{ range $posts}}
                {{partial "small-summary.html" . }}
              {{ end }}

          {{end}}

      </ul>


    <!--	{{partial "partials/kudos.html" . }} -->
  </div>

  <div>
    
  </div>
  <!-- <hr/> -->
  <h2><em>Comments</em></h2>

  <script src="https://utteranc.es/client.js" repo="Ruben-Krueger/website" issue-term="pathname" theme="github-light"
    crossorigin="anonymous" async>
    </script>

  <style>
    hr {
    border-top: 1px solid gray;
  }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /*        width: 50%;
*/
    }

    .float-child {
    width: 50%;
    float: left;
    padding: 20px;
  }  
  </style>
</div>
{{ end }}