{{ define "header_css" }}{{ end }}

{{ define "body_classes" }}page-blog-single{{ end }}


{{ define "main" }}


<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      
     {{ if .Params.image }}
      <div>
        <img src="{{ .Params.image | relURL }}"class="center"/>
      </div>
      {{ end }}
    </div>
    <div>



    </div>
    
    <div class="content">
      {{ .Content }}
    </div>
    <div>

	{{partial "partials/email-form.html"}}
    </div>
	<!-- <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=61367b26523659001347f27a&product=sticky-share-buttons" async="async"></script>
    <div class="sharethis-sticky-share-buttons"></div> -->


    <script src="https://utteranc.es/client.js"
        repo="Ruben-Krueger/website"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script> 
    <style>
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
/*        width: 50%;
*/      }
    </style>
  </div>
{{ end }}

