{{ define "body_classes" }}page-default-single{{ end }}

{{ define "main" }}
<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
  {{ if .Params.image }}
  <img src="{{ .Params.image | relURL }}" />
  {{ end }}
</div>

<div class="content">
  {{ .Content }}

  {{if .Params.isContact}}

  	<form name="contact" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>


  {{end}}
</div>
{{ end }}

