<div class="summary">
  {{ if .Site.Params.showAuthorOnPosts }}
    {{ partial "author.html" . }}
  {{ else }}
    <div class="summary-date">{{ dateFormat "Jan 2, 2006" .Date }}</div>
  {{ end }}
  <div class="row">
    <div class="column">
      <img src="/{{ .Params.image}}" class="summary-image"/>
    </div>
    <div> 
      <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="summary-description">{{ .Params.description }}</p>    
    </div>
  </div>
</div>


<style>

  .summary-image {
    width: 200px;
    height: 200px;
    object-fit: cover !important
  }

  .column {

  float: left;
  /* width: 33.33%; */
  padding: 5px; 
  margin: 10px
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>