

<div class="container" id="contant"><br><br><br>
  <h1 class="title is-3 animate__animated animate__slideInRight animate__slower" style="text-align:center;">
    Contact Me</h1>
  <div class="wrapper animate__animated animate__slideInLeft animate__slower">
    <div class="alert">Your message has been sent</div>
    <form id="contactForm" style="text-align:center;">

      <label for="name" style="text-align:left;font-weight:bold;font-size:1em;">Name *</label>
      <div class="control has-icons-left">
        <input type="text" name="name" id="name" class="input is-success is-normal" placeholder="Enter Your Name" style="height:7vh;" required>
        <span class="icon is-left is-small">
          <i class="fa fa-user"></i>
        </span>
      </div>

      <label for="name" style="text-align:left;font-weight:bold;font-size:1em;">Email *</label>
      <div class="control has-icons-left">
        <input type="email" name="email" id="email" class="input is-success is-normal" placeholder="Enter your email" style="height:7vh;" required>
        <span class="icon is-left is-small">
          <i class="fa fa-envelope"></i>
        </span>
      </div>

      <label for="name" style="text-align:left;font-weight:bold;font-size:1em;">Message *</label>
      <textarea class="textarea is-success" id="message" placeholder="" required></textarea>
      <br><br>

      <button class="button is-large is-fullwidth is-danger is-light" type="submit">Submit</button>
    </form>
  </div>
</div>

<button class="button is-info is-loading">
  Button
</button>