<div class="kuds">
<!-- hack to prevent form redirect -->
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<form name="kudos" id="kudos" target="dummyframe" method="POST" data-netlify="true">
    <span>Did you like this post? Give kudos</span>
    <button class="kudos-btn" type="submit">🙌</button>
    <input name="article" style="display:none" value="{{.Title}}" />
</form>


</div>

<style>
.kudos {
}

.kudos-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


</style>


